<% layout('layouts/base') %>

<form action="<%= rotas.CURSOS_DISCIPLINAS_CADASTRAR %>" method="POST" id="form-cadastro" style="display: none;">
  <div>
    <label for="curso_id">ID do Curso</label>
    <input type="number" id="curso_id" name="curso_disciplina_curso_id" required />
  </div>
  <div>
    <label for="disciplina_id">ID da Disciplina</label>
    <input type="number" id="disciplina_id" name="curso_disciplina_disciplina_id" required />
  </div>
  <button type="submit">Relacionar Curso e Disciplina</button>
</form>

<table>
  <thead>
    <tr>
      <th>ID Curso</th>
      <th>ID Disciplina</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% dados.forEach((item) => { %>
      <tr>
        <td><%= item.curso_disciplina_curso_id %></td>
        <td><%= item.curso_disciplina_disciplina_id %></td>
        <td>
          <form method="POST" action=<%= rotas.EXCLUIR2 .replace(':tabela', 'cursos_disciplinas') %> style="display: inline;">
            <input type="hidden" name="registros[0][curso_disciplina_curso_id]" value="<%= item.curso_disciplina_curso_id %>">
            <input type="hidden" name="registros[0][curso_disciplina_disciplina_id]" value="<%= item.curso_disciplina_disciplina_id %>">
            <button type="submit" class="button-excluir-sm">Excluir</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
